<h1><%="#{@team.city}"" ""#{@team.name}"%> Players</h1>

<h3> <%= link_to "Create Player", "/teams/#{@team.id}/players/new" %> </h3>

<% @players.each do |player| %>
  <p>Name: <%= player.name %></p>
  <p>Age: <%= player.age %></p>
  <p>International Player: <%= player.international %></p>
<% end %>

<h3> <%= link_to "Sort Alphabetically", "/teams/#{@team.id}/players?sort=alphabetically" %> </h3>

