<h1><%="#{@team.city}"" ""#{@team.name}"%> Players</h1>

<h3> <%= link_to "Create Player", "/teams/#{@team.id}/players/new" %> </h3>

<% @players.each do |player| %>
  <div id="player_<%=player.id%>_info">
    <h3>Name: <%= player.name %></h3>
    <p>Age: <%= player.age %></p>
    <p>International Player: <%= player.international %></p>
    <p>Team: <%= player.team.name %></p>
    <%= button_to "Edit #{player.name}", "/players/#{player.id}/edit", method: :get %> 
  </div>
<% end %>

<h3> <%= link_to "Sort Alphabetically", "/teams/#{@team.id}/players?sort=alphabetically" %> </h3>
<div id ="filter_by_age">
<%= form_with url: "/teams/#{@team.id}/players", method: :get do |form| %>
  <%= form.label :players_older_than_age, 'Show only players older than:' %><br/>
  <%= form.number_field :players_older_than_age, value: '00' %>
  <%= form.submit 'Submit' %>
<% end %>
</div>
