<h1>All Teams</h1>

<h2> <%= link_to "Create Team", "/teams/new" %> </h2>

<% @teams.each do |team| %>
  <div id="team_<%=team.id%>_info">
    <h3>Name: <%= team.name %> </h3>
    <p>Created At: <%= team.created_at%></p>
    <%= button_to "Edit #{team.name}", "/teams/#{team.id}/edit", method: :get %> 
    <%= button_to "Delete #{team.name}", "/teams/#{team.id}", method: :delete %> 
  </div>
<% end %>