<h1><%="#{@team.city} #{@team.name}"%> Info</h1>

<p>Name: <%=@team.name%></p>
<p>City: <%=@team.city%></p>
<p>This team has never moved: <%=@team.single_city%></p>
<p>Total Salary Cap: <%=@team.total_cap%></p>
<p>Player Count: <%=@team.player_count%></p>
<p> <%= link_to "Roster", "/teams/#{@team.id}/players" %> </p>
<p> <%= link_to "Update Team", "/teams/#{@team.id}/edit" %> </p>