<h1>All Players</h1>

<% @players.each do |player| %>
  <div id="player_<%=player.id%>_info">
    <h3>Name: <%= player.name %></h3>
    <p>Age: <%= player.age %></p>
    <p>International Player: <%= player.international %></p>
    <p>Team: <%= player.team.name %></p>
    <%= button_to "Edit #{player.name}", "/players/#{player.id}/edit", method: :get %> 
    <%= button_to "Delete #{player.name}", "/players/#{player.id}", method: :delete %> 
  </div>
<% end %>