<h1><%="#{@player.name}"%> Info</h1>

<p>Name: <%=@player.name%></p>
<p>Age: <%=@player.age%></p>
<p>International Player: <%=@player.international%></p>
<p>Team: <%=@player.team.city%> <%=@player.team.name%></p>
